.git
.idea
.vscode
node_modules
vendor
src/node_modules
src/vendor
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
*.md
docs
